<div class="jumbotron" style="position: relative;">
    <div style="position: absolute; top: 5px; right: 10px;">
    
        <span class="form-inline">
            <select name="" class="form-control" #selectedLang (change) ="switchLang(selectedLang.value)" >
                <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">
                    {{language}}
                </option>
            </select>
        </span>
    </div>
    <div class="text-center">
        <h1 class="display-4">Arnon Nascimento</h1>
        <h3>Software Engineer</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="https://www.linkedin.com/in/4rnony/" target="_blank" class="">
            <img src="../../assets/linkedin.png" width="24" height="24" class="rounded-circle me-2" alt="Logo Linkedin">
        </a>
        <a href="https://github.com/4rNoNy" target="_blank" class="">
            <img src="../../assets/github.png" width="24" height="24" class="rounded-circle me-2" alt="Logo github">
        </a>
        <a href="https://wa.me/+5527992248102" target="_blank" class="">
            <img src="../../assets/whatsapp.png" width="24" height="24" class="rounded-circle me-2" alt="Logo whatsapp">
        </a>
    </div>
</div>
