<div class="card shadow text-center" style="max-width: 350px; min-width: 350px;">
    <div class="card-body">
        <h5 class="card-title">{{project.name | translate }}</h5>
        <p class="card-text card-sub ">{{project.summary | translate }}</p>
        <button class="" (click)="OpenProjectModal()"><span>{{"cardViewMore" | translate}}</span></button>
    </div>
    <div class="card-footer">
        <div class="d-flex flex-wrap justify-content-center">
            <div *ngFor="let tag of project.tags">
                <div class="tag me-2 mb-1" [style.background-color]="tag.color">
                    <img src="{{tag.iconPath}}" alt="{{tag.toString()}} Icon" class="tag-icon">
                    {{tag}}
                </div>
            </div>
        </div>
    </div>
</div>