<div class="card" >
    <div class="content">
        <p class="heading">{{project.name | translate }}</p>
        <p class="para">{{project.summary | translate }}</p>
        <div class="d-flex flex-wrap justify-content-center ">
            <div *ngFor="let tag of project.tags">
                <div class="tag-tec me-2 mb-1 social-media" >
                    <a >
                        <img src="{{tag.iconPath}}" alt="{{tag.toString()}} Icon" class="tag-icon">
                        <span class="tooltip-social">{{tag}}</span>

                    </a>
                </div>
            </div>
        </div>
        <button class="btn" (click)="OpenProjectModal()"><span>{{"cardViewMore" | translate}}</span></button>
    </div>
</div>

