<nav class="navbar-expand-md border-bottom mb-4" style="background-color: #f6f6f6;">
    <div class="container" >
        <ul class="nav justify-content-center" >
            <li class="nav-item">
                <a class="nav-link text-secondary nav-hover text-navbar" routerLink="/home" routerLinkActive="selected">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary nav-hover text-navbar" routerLink="/portifolio" routerLinkActive="selected">{{'navPortifolio' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary nav-hover text-navbar" routerLink="/resume" routerLinkActive="selected">{{'navResume' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary nav-hover text-navbar" routerLink="/contact" routerLinkActive="selected">{{'navContact' | translate}}</a>
            </li>
        </ul>
        

    </div>
</nav>