<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">{{'resumeBtnDownload' | translate}}</button>

    <div class="pb-2">

        <accordion [isAnimated]="true" class="shadow">
            <accordion-group [(isOpen)]="isWorkExperienceOpen" >
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">{{'resumeWorkExp' | translate}}</div>

                    <div style="width: 10.95px;">

                        <div *ngIf="!isWorkExperienceOpen" style="color: white;">></div>
                        <div *ngIf="isWorkExperienceOpen"  style="color: white;">v</div>
                    </div>
                </button>

                <div style="text-align: left;">
                    <h2 class="mb-0">Full Stack Developer intern</h2>
                    <h3 class="text-primary">Wakke</h3>
                    <ul>
                        <li>{{'resumeDateExp' | translate}}</li>
                        <li>Espirito Santo, Brasil</li>
                        <li>{{'resumeAssignment1' | translate}}</li>
                        <li>{{'resumeAssignment2' | translate}}</li>
                        <li>{{'resumeAssignment3' |translate}}</li>
                        <li>{{'resumeAssignment4' |translate}}</li>
                    </ul>
                </div>
    
            </accordion-group>
    
            <accordion-group [(isOpen)]="isEducationOpen">

                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">{{'resumeEducation' | translate}}</div>

                    <div style="width: 10.95px;">

                        <div *ngIf="!isEducationOpen" style="color: white;">></div>
                        <div *ngIf="isEducationOpen"  style="color: white;">v</div>
                    </div>
                </button>

                <div style="text-align: left;">
                    <h2 class="mb-0">Software Engineer</h2>
                    <h3 class="text-primary">Faculdade Anhanguera</h3>
                    <ul>
                        <li>{{'resumeEducation1' | translate}}</li>
                        <li>{{'resumeEducationDate' | translate}}</li>
                    </ul>
                </div>
    
            </accordion-group>
    
            <accordion-group [(isOpen)]="isCertificationsOpen">

                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">{{'resumeCertifications' | translate}}</div>

                    <div style="width: 10.95px;">

                        <div *ngIf="!isCertificationsOpen" style="color: white;">></div>
                        <div *ngIf="isCertificationsOpen"  style="color: white;">v</div>
                    </div>
                </button>

                <div style="text-align: left;">
                    <h3 class="text-primary">{{'resumeCertifications1' |translate}}</h3>
                    <ul>
                        <li>Udemy</li>
                        <li>{{'resumeCertificationsDate' | translate}}</li>
                    </ul>
                    <h3 class="text-primary">{{'resumeCertifications2' | translate}}</h3>
                    <ul>
                        <li>DIO</li>
                        <li>{{'resumeCertificationsDate2' | translate}}</li>
                    </ul>
                    <h3 class="text-primary">{{'resumeCertifications3' | translate}}</h3>
                    <ul>
                        <li>DIO</li>
                        <li>{{'resumeCertificationsDate3' | translate}}</li>
                    </ul>
                </div>
    
            </accordion-group>
    
            <accordion-group [(isOpen)]="isSkillsOpen">

                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">{{'resumeSkills' | translate}}</div>

                    <div style="width: 10.95px;">

                        <div *ngIf="!isSkillsOpen" style="color: white;">></div>
                        <div *ngIf="isSkillsOpen"  style="color: white;">v</div>
                    </div>
                </button>

                <div class="row" style="text-align: left;">
                    <div class="col">
                        <h3>{{'resumeSkillsLP' | translate}}</h3>
                        <ul>
                            <li>C#</li>
                            <li>TypeScript</li>
                            <li>Python</li>
                            <li>Dart</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Frameworks:</h3>
                        <ul>
                            <li>Angular</li>
                            <li>React</li>
                            <li>ASP.NET</li>
                            <li>Flutter</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>{{'resumeSkillsOS' | translate}}</h3>
                        <ul>
                            <li>{{'resumeSkillsSCG' | translate}}</li>
                            <li>{{'resumeSkillsMVC' | translate}}</li>
                            <li>{{'resumeSkillsAD' | translate}}</li>
                        </ul>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>
