/* You can add global styles to this file, and also import other style files */
.container {
    width: 1140px;
    max-width: 1440px;
    font-family: "Nunito", sans-serif;
}
.body {
    background-color: #E5E2E3;
}

.tag {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    color: white;
}