.title {
    font-size: 2.6rem;
    font-family: "Nunito", sans-serif;

}
.p{
    color: #939393;
    font-size: 15px;
}
.subtitle{
        color: black;
}
.img-perfil{
    position: absolute;
}
.back-color{
    background-color: #f6f6f6;
    border-radius: 10px
}
.before {
    -webkit-transform: translate(40%, -20%);
    -ms-transform: translate(40%, -20%);
    transform: translate(40%, -20%);
    position: absolute;
    content: "";
    width: 224px;
    height: 184px;
    background: url(../../assets/dots.png.webp) right top;
    box-sizing: border-box;
}
